header {
    background-color: rgb(33, 33, 49);
    color: white;
    width: 100%;
}

h3 {
    margin-left: 10%;
    display: flex;
    align-self: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-links {
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    gap: 25px;
}

a {
    color: rgb(211, 204, 204);
    text-decoration: none;
}

.header2 {
    display: flex;
    justify-content: space-around;
}

.header2-left {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-left: 60px;
}

h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.image-placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(102, 114, 124);
    width: 500px;
    height: 250px;
    margin-top: 70px;
    margin-bottom: 100px;
    margin-right: 85px;
}

button {
    background-color: rgb(32, 144, 189);
    border-radius: 1rem;
    padding: 15px 32px;
    width: 150px;
}

